div#MainTitle {
    display: flex;
    justify-content: center;
    font-size: 150%;
    font-weight: bold;
    margin: 1%;
}
div#stats {
    display: flex;
    justify-content: center;
}
div#DistributionPlot {
    display: flex;
    justify-content: center;
}
div#DistributionPlot img {
    width: 120%;
    height: 120%;
    object-fit: contain;
}

div.MathJax_Display {
    margin-top: 10px;
}

input#digits {
    width: 70px;
}
input#detect_lim {
    width: 70px;
}
.form-control {
    margin: 2px;
    padding: 0px;
    line-height: auto;
    color: #555;
    background-color: #fff;
    border: 1px solid #000000;
    text-align: center;
}
div.form-group.shiny-input-container {
    width: 90%;
    min-width: 30px;
    max-width: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.MainTable {
    display: flex;
    justify-content: center;
}
.MainTable input {
    padding-left: 4%;
    height: 90%;
    width: 100%;
}
.MainTable td {
    text-align: center;
    margin: 0px;
    padding: 0px;

}
.MainText {
    width: 800px;
    margin-left:auto;
    margin-right:auto;
}
.MiddleContent {
    font-family: "Consolas";
    width: 300px;
    background-color: #FFDAB9;
    padding: 2%;
}
.OptionsTable input {
    padding-left: 2px;
    height: 90%;
    width: 100%;
}
.OptionsTable td {
    margin-left: 10%;
    padding-left: 5%;
}
.OutPutClass {
    font-family: "Consolas";
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}
.shiny-input-container:not(.shiny-input-container-inline) {
    margin: 0px;
    padding: 0px;
}
hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
}
h1, h2, h3, h4, h5 {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
p, ol, ul {
    text-align: justify;
    font-size: 18px;
}
